{% extends "layout.html" %}

{% block title %}
    Casa Fluxus
{% endblock %}

{% block main %}
<div class="fullscreen-background">
    <div class="overlay">
        <h1>CASA FLUXUS</h1>
        <h2>COLLABORATIVE and REGENERATIVE CULTURE</h2>
        <p>Inner, Inter and with the Lands</p><br><br>
        <p>Awakened by the lands with whom we learn with, unfolding inter relational aliveness.
            Inhabitating 2 hectares of land ecosystem, a raw poetic territory where we embrace developing our ability to listen, in relation, to connect with, merging, trough the cycles, discovering our radical responsible BELONGING.</p>
        <p>An invitation to enter the interspecies dialogue, trough Presence; 
            Evolutionshaping.</p><br>
        <p>Casa Fluxus is the research playground.</p>
    </div>
</div>
{% endblock %}
